<section id="searchForm">
  <header class="text-xs-center h1">GSM Scanner</header>
  <%= form_tag products_path, class: 'form-inline text-xs-center', method: :get, remote: true do %>
    <div class="form-group">
      <%= label_tag :search, 'Phone finder' %>
      <%= text_field_tag :search, params[:search], autofocus: true, placeholder: 'ASUS Zenfone', class: 'form-control' %>
    </div>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
</section>
<div id="mainWrapper"></div>
