#searchForm {
  margin-top: 20px;
}

#products {
  padding-top: 30px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;

  .card {
    width: 18rem;

    h5 {
      margin-top: 10px;
      color: black;
    }
  }

}
