<div class="container" style="margin-top: 20px">
  <%= image_tag product.image_url, style: 'float: right' %>
  <h1><%= product.name %></h1>
  <% product.specs.each do |spec| %>
    <h2><%= spec.name %></h2>
    <table class="table" style="width: 80%">
      <% spec.categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.values %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
