<%= link_to "products/#{product.link}", class: 'card', remote: true do %>
  <div class="card-block text-xs-center">
      <%= image_tag product.image_url, alt: product.name %>
    <h5>
      <%= product.name %>
    </h5>
  </div>

<% end %>
