$('#mainWrapper').html('<div id="products"></div>');
<% if @products.present? %>
$('#products').append('<%= j render(partial: 'product_preview', collection: @products, as: 'product') %>');
<% else %>
$('#products').append('<%= j render('not_found') %>');
<% end %>
